<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136628721870-v8mjm3d5tt5kdgvrqugdqrlsecajddfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136628721870-v8mjm3d5tt5kdgvrqugdqrlsecajddfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBGh3AFYm7IUvmmbpisTwRDWuHPDygNtAw</string>
	<key>GCM_SENDER_ID</key>
	<string>136628721870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robinvvinod2019.YouthHacks</string>
	<key>PROJECT_ID</key>
	<string>youthhack2019</string>
	<key>STORAGE_BUCKET</key>
	<string>youthhack2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136628721870:ios:c728e980dfd8c426ac989f</string>
	<key>DATABASE_URL</key>
	<string>https://youthhack2019.firebaseio.com</string>
</dict>
</plist>